<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Schedule View
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg-gray-200 p-4">
    <!-- Calendar Heading -->
    <div class="flex justify-between items-center mb-4">
      <div class="text-lg font-semibold">{{ startingDate | date: 'mediumDate' }}</div>
    </div>

    <!-- Calendar Events -->
    <div class="space-y-2">
      <!-- Single Event -->
      <ng-container *ngFor="let dayEvent of allEvents | async">
        <div [attr.data-day]="dayEvent.day"
             [attr.data-month]="dayEvent.month"
             [attr.data-year]="dayEvent.year"
             [attr.data-startingDate]="startingDate.toDateString()"
             [ngClass]="{'p-3 rounded-lg shadow': true,
          'bg-white': dayEvent.day !== startingDate.getDate() || dayEvent.month !== startingDate.getMonth() + 1 || dayEvent.year !== startingDate.getFullYear(),
           'bg-teal-300 selectedDay': dayEvent.day === startingDate.getDate() &&
                                dayEvent.month === startingDate.getMonth() + 1 &&
                                dayEvent.year === startingDate.getFullYear()}">
          <div class="text-sm font-medium text-gray-800">{{ dayEvent.date | date:'mediumDate' }}</div>
          <div class="mt-1">
            <div class="text-xs text-gray-600"
                 *ngFor="let event of dayEvent.events">{{ event.dtstart | date: 'mediumTime' }} {{ event.summary }}
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <!-- Add Event Button -->
    <div class="mt-4 flex justify-center">
      <button class="bg-blue-500 text-white p-2 rounded-full shadow-lg">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
        </svg>
      </button>
    </div>
  </div>
</ion-content>
